*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body
{
    height: 100%;
    width: 100%;
}

#main
{
    height: 100%;
    width: 100%;
    background-color: #ccadb4;
    display: flex;
}

#part1
{
    height: 100%;
    width: 26%;
    /* background-color: aquamarine; */
}

#part2
{
    height: 100%;
    width: 67%;
    background-color: rgb(232, 255, 127);
    background-image: url(https://images.unsplash.com/photo-1503342394128-c104d54dba01?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
    background-size: cover;
    background-position: center;
}

#overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(127, 99, 99, 0.351);
}

#part3
{
    height: 100%;
    width: 7%;
    /* background-color: rgb(187, 127, 255); */
}

#text-div
{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 8%;
    top: 50%;
    transform: translate(0 ,-50%);
}

@font-face {
    font-family: FontMan ;
    src: url(MonumentExtended-Ultrabold.otf);
}

#text-div>h1
{
    font-size: 100px;
    line-height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}

#small-img-div
{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1503342452485-86b7f54527ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0 , -50%);
}

#vertical-text
{
    position: absolute;
    transform: rotate(90deg);
    right: -47%;
    top: -5%;
    transform-origin: 0%  ;
    /* width: 100%; */
    /* background-color: red; */
}

#vertical-text h1
{
    font-size: 90px;
    letter-spacing: 12px;
    font-weight: 900;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

#nav
{
    position: absolute;
    display: flex;
    align-items: center;
    width: 450px;
    left: 8%;
    top: 5%;
    /* background-color: red; */
    justify-content: space-between;
}

#nav img
{
    height: 70px;
}

#nav h5
{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
